@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');



:root{
    /*Cores*/

    --preto:#0B0B0B;
    --vinho-escuro: #0F080A;
    --vinho:#A4062E;
    --Vinho-escuro:#540318;
    --vinho-claro:#AF2D4E;
    

    /*Fontes*/

    --fonte-titulo: 'Staatliches','San-Serif';
    --fonte-paragrafo: 'Quicksand','San-Serif';

}
@keyframes move {
  100% {
    transform: translate3d(0, 0, 1px) rotate(360deg);
  }
}
.background-balls {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1; /* fica atrás de tudo */
  overflow: hidden;
  pointer-events: none; /* garante que não bloqueie cliques */
}
.ball {
  position: absolute;
  width: 25vmin;
  height: 25vmin;
  border-radius: 50%;
  backface-visibility: unset;
  animation: move linear infinite;
}

.ball:nth-child(odd) {
    color: #a4062e4d;
}

.ball:nth-child(even) {
    color: #af2d4d81;
}

/* Using a custom attribute for variability */
.ball:nth-child(1) {
  top: 77%;
  left: 88%;
  animation-duration: 40s;
  animation-delay: -3s;
  transform-origin: 16vw -2vh;
  box-shadow: 40vmin 0 5.703076368487546vmin currentColor;
}
.ball:nth-child(2) {
  top: 42%;
  left: 2%;
  animation-duration: 53s;
  animation-delay: -29s;
  transform-origin: -19vw 21vh;
  box-shadow: -40vmin 0 5.17594621519026vmin currentColor;
}
.ball:nth-child(3) {
  top: 28%;
  left: 18%;
  animation-duration: 49s;
  animation-delay: -8s;
  transform-origin: -22vw 3vh;
  box-shadow: 40vmin 0 5.248179047256236vmin currentColor;
}
.ball:nth-child(4) {
  top: 50%;
  left: 79%;
  animation-duration: 26s;
  animation-delay: -21s;
  transform-origin: -17vw -6vh;
  box-shadow: 40vmin 0 5.279749632220298vmin currentColor;
}
.ball:nth-child(5) {
  top: 46%;
  left: 15%;
  animation-duration: 36s;
  animation-delay: -40s;
  transform-origin: 4vw 0vh;
  box-shadow: -40vmin 0 5.964309466052033vmin currentColor;
}
.ball:nth-child(6) {
  top: 77%;
  left: 16%;
  animation-duration: 31s;
  animation-delay: -10s;
  transform-origin: 18vw 4vh;
  box-shadow: 40vmin 0 5.178483653434181vmin currentColor;
}
.ball:nth-child(7) {
  top: 22%;
  left: 17%;
  animation-duration: 55s;
  animation-delay: -6s;
  transform-origin: 1vw -23vh;
  box-shadow: -40vmin 0 5.703026794398318vmin currentColor;
}
.ball:nth-child(8) {
  top: 41%;
  left: 47%;
  animation-duration: 43s;
  animation-delay: -28s;
  transform-origin: 25vw -3vh;
  box-shadow: 40vmin 0 5.196265905749415vmin currentColor;
}


*{
    margin: 0;
    padding: 0;
}

body{
    background-color: var(--preto);
    color: white;
}

header{
    
    display: flex;
    gap: 46%;
    justify-content: center;
    padding: 8px;
    border-bottom: 2px solid var(--vinho);
    
}
header > h1{
    font-family: var(--fonte-titulo);
    font-weight: 200;
    font-size: 1.50em;
}
strong{
    color: var(--vinho);
    font-family: var(--fonte-titulo);
    font-weight: 200;
}

#menu > a{
    
    padding: 10px;
    color: white;
    text-decoration: none;
    font-family: var(--fonte-paragrafo);
    font-size: 1em;
}
#menu > a:hover{
    color: var(--vinho);
    text-decoration: underline;
    transition: 0.2s;
}

/*Principal*/
main{
    display: flex;
    flex-direction: column;
    
}
section{
    margin: 10% 10% 20% 10%;   
    display: flex;
    position: relative;
}
.apresentacao__principal{
    display: flex;
    flex-direction: column;
    columns: 2;
}
.apresentacaotxt{
    margin-top:25% ;
}
.apresentacaotxt > h2{
    font-size: 3em;
    font-family: var(--fonte-titulo);
    font-weight: 200;
    
}
.apresentacaotxt > h1{
    font-size: 3.5em;
    color: var(--vinho);
    font-family: var(--fonte-titulo);
    font-weight: 200;
}


.malu__dassio{
    width: 35%;
    margin-left: 15%;
    border-radius: 5px;
    border: 2px dashed var(--vinho);
}

.apresentacao__link{
    display: flex;
    gap: 5%;
    margin: 2% 0 2% 0;
    
}

.apresentacao__curriculo{
    height: 4vh;
    width: 18vh;
    margin: 1%;
    padding: 10px;
    border: 2px solid var(--vinho);
    border-radius: 5px;
    text-decoration: none;
    font-family: var(--fonte-paragrafo);
    font-weight: bold;
    font-size: 1.25em;
    color: var(--vinho);
}
.apresentacao__curriculo:hover{
    background-color: var(--vinho);
    color: var(--preto);
    transition: 0.35s;
}

.apresentacao__curriculo:active{
    background-color: var(--vinho-claro);
    color: white;
    transition: 0.2s;
}

.redes-sociais{
    margin: 0 -3%;
    font-family: var(--fonte-paragrafo);
}

.redes-sociais a > img{
    width: 10%;
    padding: 5px;
}

/*SKILL*/

.skill{
    background-color: var(--vinho-escuro);
    position: relative;
    width: auto;
    height: 300px;
    margin: 0;
    padding: 45px 20px;
    border-bottom: 1px solid var(--vinho);
    border-top: 1px solid var(--vinho);
    text-align: center;
}

/*Bug Skill: parar de fazer a div se mexer*/

.skill h2{
    background-color: var(--vinho);
    border-radius: 5px;
    box-shadow: 0px 4px 7px 0px rgba(0, 0, 0, 0.226);;
    position: absolute;
    margin: 0;
    top: -10%;
    left: 31%;
    padding: 15px 50px;
    text-align: center;
    font-size: 2.5em;
    font-family: var(--fonte-titulo);
    letter-spacing: 10px;
    color: var(--vinho-escuro);

}
.skill img{
    width: 9%;
    margin: 3% 1%;
}
.skill img:hover{
    width: 10%;
    transition: 0.2s;
}
/*Atualização para Skill: Colocar um mini texto invisivel para aparecer quando o mouse estiver encima*/


/*PROJETOS*/

.projetos{
    margin: 50px 20px;

}

/*Ver bug de colocar um bloco só*/

.projetos__apresentacao__blocos{
    width: 260vh;
    height: 70vh;
}

.projetos h2{
    margin-bottom: 5%;
    font-family: var(--fonte-titulo);
    font-size: 2.5em;
    color: var(--vinho);
    letter-spacing: 10px;
}
.projetos__apresentacao{
    display: flex;
    gap: 2%;
}
.projetos__apresentacao div{
    background-color: var(--vinho-escuro);
    border: 2px dashed var(--vinho);
    padding: 20px;
    text-align: justify;
    font-family: var(--fonte-paragrafo);
}
.projetos__apresentacao img{
    width: 100%;
}

.projetos__apresentacao a, p{
    margin: 1% 0 5% 0;
    
}
.projetos__apresentacao a{
    margin-left: 5%;
    float: right;
    text-decoration: none;
    font-size: 1em;
    color: var(--vinho-claro);
}
.projetos__apresentacao a:hover{
    text-decoration: underline;
    color: var(--Vinho-escuro);
}
.projetos__apresentacao h3{
    margin-top: 5%;
    font-family: var(--fonte-titulo);
    font-size: 1.5em;
    color: var(--vinho-claro);
    letter-spacing: 4px;
}

.bnt__mais{
    margin-top: 45px;
    margin-bottom: 45px;
    text-align: center;
}

.bnt__mais > a{
    text-decoration: none;
    font-size: 1.5em;
    font-family: var(--fonte-titulo);
    color: var(--vinho);
    letter-spacing: 7px;
}
.bnt__mais > a:hover{
    text-decoration: underline;
    font-size: 1.8em;
    color: var(--vinho-claro);
    transition: 0.35s;
}
.bnt__mais > a:active{
    color: var(--vinho);
    transition: 0.35s;
}

/*CONTATO*/

.contato{
    background-color: var(--vinho);
    margin:  0;
    width: auto;
    height: 400px;
    padding: 20px;
    display: flex;
}

/*Contato fornecido por mim*/
.contato__fornecido{
    width: 30%;
    margin-left: 23%;
    margin-top: 30px;
}
.contato__fornecido h2{
    font-family: var(--fonte-titulo);
    font-size: 2em;
    font-weight: 300;
    color: var(--preto);
    letter-spacing: 2px;
}
.contato__fornecido__tel p{
    margin-top: 3%;
    margin-bottom: 0;
    font-family: var(--fonte-paragrafo);
}
.contato__fornecido__tel h4{
    font-family: var(--fonte-titulo);
    font-weight: 300;
    font-size: 1.2em;
    color: var(--preto);
    letter-spacing: 2px;
}
.contato__fornecido__email p{
    margin-top: 3%;
    margin-bottom: 0;
    font-family: var(--fonte-paragrafo);
}
.contato__fornecido__email h4{
    margin-bottom: 5%;
    font-family: var(--fonte-titulo);
    font-weight: 300;
    font-size: 1.2em;
    color: var(--preto);
    letter-spacing: 2px;
}

.contato__fornecido .redes-sociais{
    margin: 0 1%;
    font-family: var(--fonte-paragrafo);
}
.contato__fornecido .redes-sociais p{
    margin-bottom: 1%;
}

.contato__fornecido .redes-sociais a > img{
    width: 7%;
}

/*Design do formulario*/
.contato__formulario{
    width: 50%;
    margin-left: -10%;
}
.contato__formulario h2{
    text-align: center;
    font-family: var(--fonte-titulo);
    font-size: 2em;
    font-weight: 300;
    color: var(--preto);
    letter-spacing: 2px;
}
.contato__formulario p{
    margin-top: 0%;
    margin-bottom: 20px;
    text-align: center;
    font-family: var(--fonte-paragrafo);
    font-size: 0.8em;
}
form{
    display: flex;
    flex-direction: column;
    columns: 2;
    align-items: center;
}
form input{
    width: 350px;
    height: 20px;
    margin: 2px 0 10px 0;
    background-color: var(--vinho-escuro);
    border: var(--vinho-claro);
    border-radius: 2px;
    font-family: var(--fonte-paragrafo);
    color: white;
    padding-left: 5px;
}
#contato__email, #contato__telefone{
    width: 165px;
    height: 20px;
    
}
.grupo__maior{
    display: flex;
    flex-direction: column;
}
.grupo__linha {
    display: flex;
    gap: 15px;
}

.grupo__linha div {
    display: flex;
    flex-direction: column; 
}
.grupo__linha label{
    margin-bottom: -1%;
}


form label{
    justify-content: left;
    margin-bottom: -0.5%;
    font-family: var(--fonte-titulo);
    font-size: 1.2em;
    color: var(--preto);
}

textarea{
    width: 350px;
    height: 80px;
    margin-top: 2px;
    background-color: var(--vinho-escuro);
    border: var(--vinho-claro);
    border-radius: 2px;
    font-family: var(--fonte-paragrafo);
    color: white;
    padding-top: 5px;
    padding-left: 5px;
    white-space: pre-line;
}

#bnt-enviar{
    margin-top: 10px;
    padding-left: 0;
    width: 180px;
    height: 40px;
    font-family: var(--fonte-titulo);
    font-weight: 200;
    font-size: 1.3em;
    border-radius: 2px;
}
#bnt-enviar:hover{
    background-color: var(--vinho);
    border: 2px solid var(--vinho-escuro);
    border-radius: 10px;
    color: var(--vinho-escuro);
    transition: 0.4s;
}
#bnt-enviar:active{
    background-color: var(--vinho-claro);
    border: 4px solid var(--vinho-escuro);
    border-radius: 10px;
    color: white;
    transition: 0.2s;
}

footer > p{
    margin: 5px 5px 5px 5px;
    text-align: center;
    font-family: var(--fonte-paragrafo);
    font-size: 0.8em;
}

@media (max-width: 820px){
    /*Menu*/
    header{
    
    display: flex;
    gap: 46%;
    justify-content: center;
    padding: 8px;
    border-bottom: 2px solid var(--vinho);
    
}
header > h1{
    font-family: var(--fonte-titulo);
    font-weight: 200;
    font-size: 1.5em;
}
strong{
    color: var(--vinho);
    font-family: var(--fonte-titulo);
    font-weight: 200;
}

#menu > a{
    
    padding: 10px;
    color: white;
    text-decoration: none;
    font-family: var(--fonte-paragrafo);
    font-size: 1em;
}
#menu > a:hover{
    color: var(--vinho);
    text-decoration: underline;
    transition: 0.2s;
}
    
    /*Apresentação*/

    section{
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        margin-top: 10vh;
    }
.apresentacaotxt{
    margin-top: 5vh;
}
.apresentacaotxt > h2{
    font-size: 2em;
    text-align: center;
    
}
.apresentacaotxt > h1{
    font-size: 2.8em;
    text-align: center;
}


.malu__dassio{
    width: 50%;
    margin-left: 30%;
    justify-content: center;
}

.apresentacao__link{
    display: flex;
    justify-content: center;
}

.apresentacao__curriculo{
    margin: 3%  0;
}

.redes-sociais{
    margin: 0 -3%;
    font-family: var(--fonte-paragrafo);
    text-align: center;
}

.redes-sociais a > img{
    width: 10%;
    padding: 5px;
    
}

/*Habilidade Tecnica*/


.skill{
    text-align: center;
    height: 40vh;
}

/*Bug Skill: parar de fazer a div se mexer*/

.skill h2{
    position: absolute;
    margin: 0;
    top: -9%;
    left: 24%;
    font-size: 1.5em;
    letter-spacing: 5px;

}
.skill img{
    width: 15%;
    margin: 3% 1%;
}
.skill img:hover{
    width: 15%;
}

/*PROJETOS*/


.projetos__apresentacao{
    display: flex;
    flex-direction: column;
    gap: 3vh;    
}

.projetos__apresentacao__blocos{
    width: 60vh;
    height: 70vh;
    margin: auto;
}
/*Colocar Margin Auto na div dos projetos*/

.projetos h2{
    margin-bottom: 5%;
    font-family: var(--fonte-titulo);
    font-size: 1.5em;
    color: var(--vinho);
    letter-spacing: 10px;
}


.projetos__apresentacao a, p{
    margin: 1% 0 5% 0;
    
}
.projetos__apresentacao a{
    margin-left: 5%;
    float: right;
    text-decoration: none;
    font-size: 1em;
    color: var(--vinho-claro);
}
.projetos__apresentacao a:hover{
    text-decoration: underline;
    color: var(--Vinho-escuro);
}
.projetos__apresentacao h3{
    margin-top: 5%;
    font-family: var(--fonte-titulo);
    font-size: 1.5em;
    color: var(--vinho-claro);
    letter-spacing: 4px;
}

.bnt__mais{
    margin-top: 45px;
    margin-bottom: 45px;
    text-align: center;
}

.bnt__mais > a{
    text-decoration: none;
    font-size: 1.5em;
    font-family: var(--fonte-titulo);
    color: var(--vinho);
    letter-spacing: 7px;
}
.bnt__mais > a:hover{
    text-decoration: underline;
    font-size: 1.8em;
    color: var(--vinho-claro);
    transition: 0.35s;
}
.bnt__mais > a:active{
    color: var(--vinho);
    transition: 0.35s;
}

/*CONTATO*/

.contato{
    background-color: var(--vinho);
    margin:  0;
    width: auto;
    height: 115vh;
    padding: 20px;
    display: flex;
    flex-direction: column;
}

/*Contato fornecido por mim*/
.contato__fornecido{
    width: 100%;
    margin: 0 auto ;
    text-align: center;
}
.contato__fornecido__tel p{
    margin-top: 1%;
}
.contato__fornecido__tel h4{
    font-size: 1.4em;
}
.contato__fornecido__email p{
    margin-top: 1%;
}
.contato__fornecido__email h4{
    margin-bottom: 3%;
    font-size: 1.4em;
}

.apresentacao__link{
    display: flex;
    justify-content: center;
}
.contato__fornecido .redes-sociais p{
    margin-bottom: 1%;
}

.contato__fornecido .redes-sociais a > img{
    width: 7%;
}

/*Design do formulario*/
.contato__formulario{
    width: 100%;
    margin: 7% auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.contato__formulario p{
    margin-bottom: 5%;
    text-align: center;
    font-family: var(--fonte-paragrafo);
    font-size: 0.8em;
}
form input{
    width: 350px;
    height: 20px;
    margin: 2px 0 10px 0;
    background-color: var(--vinho-escuro);
    border: var(--vinho-claro);
    border-radius: 2px;
    font-family: var(--fonte-paragrafo);
    color: white;
    padding-left: 5px;
}
#contato__email, #contato__telefone{
    width: 165px;
    height: 20px;
    
}
.grupo__maior{
    display: flex;
    flex-direction: column;
}
.grupo__linha {
    display: flex;
    gap: 15px;
}

.grupo__linha div {
    display: flex;
    flex-direction: column; 
}
.grupo__linha label{
    margin-bottom: -1%;
}


form label{
    justify-content: left;
    margin-bottom: -0.5%;
    font-family: var(--fonte-titulo);
    font-size: 1.2em;
    color: var(--preto);
}

textarea{
    width: 350px;
    height: 80px;
    margin-top: 2px;
    background-color: var(--vinho-escuro);
    border: var(--vinho-claro);
    border-radius: 2px;
    font-family: var(--fonte-paragrafo);
    color: white;
    padding-top: 5px;
    padding-left: 5px;
    white-space: pre-line;
}

#bnt-enviar{
    margin-top: 10px;
    padding-left: 0;
    width: 180px;
    height: 40px;
    font-family: var(--fonte-titulo);
    font-weight: 200;
    font-size: 1.3em;
    border-radius: 2px;
}
#bnt-enviar:hover{
    background-color: var(--vinho);
    border: 2px solid var(--vinho-escuro);
    border-radius: 10px;
    color: var(--vinho-escuro);
    transition: 0.4s;
}
#bnt-enviar:active{
    background-color: var(--vinho-claro);
    border: 4px solid var(--vinho-escuro);
    border-radius: 10px;
    color: white;
    transition: 0.2s;
}

footer > p{
    margin: 5px 5px 5px 5px;
    text-align: center;
    font-family: var(--fonte-paragrafo);
    font-size: 0.8em;
}

}