@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');



:root{
    /*Cores*/

    --preto:#0B0B0B;
    --vinho-escuro: #0F080A;
    --vinho:#A4062E;
    --Vinho-escuro:#540318;
    --vinho-claro:#AF2D4E;
    

    /*Fontes*/

    --fonte-titulo: 'Staatliches','San-Serif';
    --fonte-paragrafo: 'Quicksand','San-Serif';

}

*{
    margin: 0;
    padding: 0;
}

body{
    background-color: var(--preto);
    color: white;
}

header{
    
    display: flex;
    gap: 46%;
    justify-content: center;
    padding: 8px;
    border-bottom: 2px solid var(--vinho);
    
}
header > h1{
    font-family: var(--fonte-titulo);
    font-weight: 200;
    font-size: 1.50em;
}
strong{
    color: var(--vinho);
    font-family: var(--fonte-titulo);
    font-weight: 200;
}

#menu > a{
    
    padding: 10px;
    color: white;
    text-decoration: none;
    font-family: var(--fonte-paragrafo);
    font-size: 1em;
}
#menu > a:hover{
    color: var(--vinho);
    text-decoration: underline;
    transition: 0.2s;
}

/*Principal*/
main{
    display: flex;
    flex-direction: column;
    
}
section{
    margin: 10% 10% 20% 10%;    
  display: flex;
  
}
.titulo__principal{
    display: flex;
    flex-direction: column;
    columns: 2;
    margin: 10% 0 0 5%;
}
.titulo__principal > h2{
    font-size: 3em;
    font-family: var(--fonte-titulo);
    font-weight: 200;
}
.titulo__principal > h1{
    font-size: 3.5em;
    color: var(--vinho);
    font-family: var(--fonte-titulo);
    font-weight: 200;
}
.malu__dassio{
    width: 35%;
    margin-left: 10%;
    border-radius: 5px;
    border: 2px dashed var(--vinho);
}




/*Sobre mim*/

#sobre{
    margin: auto;
    margin-bottom: 10%;
    width: 1100px;
}
#sobre > p{
    text-align: justify;
    font-family: var(--fonte-paragrafo);
    font-size: 1.2em;
}


#experiencias{
    margin: auto auto 10%;
    width: 1100px;
    display: flex;
    flex-direction: column;
}
#experiencias > h2{
    font-family: var(--fonte-titulo);
    font-size: 2em;
    font-weight: normal;
}
#experiencias > h1{
    font-family: var(--fonte-titulo);
    font-size: 2.5em;
    font-weight: normal;
    color: var(--vinho);
}

.cargo2{
    display: flex;
    justify-content: right;
    gap: 10px;
}


.experiencias__cargo__2{
    background-color: var(--vinho-escuro);
    width: 350px;
    padding: 15px;
    border: 2px dashed var(--Vinho-escuro);
   justify-content: right;
    gap: 10px; 
}

.experiencias__cargo__2 > h2{
    font-family: var(--fonte-titulo);
    font-size: 1.5em;
    font-weight: normal;
    color: var(--vinho-claro);
    letter-spacing: 3px;
}
.experiencias__cargo__2 > h3{
    font-family: var(--fonte-paragrafo);
    font-size: 1em;
    font-weight: bold;
    letter-spacing: 5px;
    
}
.experiencias__cargo__2 > p{
    font-family: var(--fonte-paragrafo);
    font-size: 1em;
    
}


.cargos{
    display: flex;
    flex-direction: column;
    gap: 10px;

}
.experiencias__cargo{
    background-color: var(--vinho-escuro);
    width: 350px;
    padding: 15px;
    border: 2px dashed var(--Vinho-escuro);
}

.experiencias__cargo > h2{
    font-family: var(--fonte-titulo);
    font-size: 1.5em;
    font-weight: normal;
    color: var(--vinho-claro);
    letter-spacing: 3px;
}
.experiencias__cargo > h3{
    font-family: var(--fonte-paragrafo);
    font-size: 1em;
    font-weight: bold;
    letter-spacing: 5px;
    
}
.experiencias__cargo > p{
    font-family: var(--fonte-paragrafo);
    font-size: 1em;
    
}
/*CONTATO*/

.contato{
    background-color: var(--vinho);
    margin:  0;
    width: auto;
    height: 400px;
    padding: 20px;
    display: flex;
}

/*Contato fornecido por mim*/
.contato__fornecido{
    width: 30%;
    margin-left: 23%;
    margin-top: 30px;
}
.contato__fornecido h2{
    font-family: var(--fonte-titulo);
    font-size: 2em;
    font-weight: 300;
    color: var(--preto);
    letter-spacing: 2px;
}
.contato__fornecido__tel p{
    margin-top: 3%;
    margin-bottom: 0;
    font-family: var(--fonte-paragrafo);
}
.contato__fornecido__tel h4{
    font-family: var(--fonte-titulo);
    font-weight: 300;
    font-size: 1.2em;
    color: var(--preto);
    letter-spacing: 2px;
}
.contato__fornecido__email p{
    margin-top: 3%;
    margin-bottom: 0;
    font-family: var(--fonte-paragrafo);
}
.contato__fornecido__email h4{
    margin-bottom: 5%;
    font-family: var(--fonte-titulo);
    font-weight: 300;
    font-size: 1.2em;
    color: var(--preto);
    letter-spacing: 2px;
}

.contato__fornecido .redes-sociais{
    margin: 0 1%;
    font-family: var(--fonte-paragrafo);
}
.contato__fornecido .redes-sociais p{
    margin-bottom: 1%;
}

.contato__fornecido .redes-sociais a > img{
    width: 7%;
}

/*Design do formulario*/
.contato__formulario{
    width: 50%;
    margin-left: -10%;
}
.contato__formulario h2{
    text-align: center;
    font-family: var(--fonte-titulo);
    font-size: 2em;
    font-weight: 300;
    color: var(--preto);
    letter-spacing: 2px;
}
.contato__formulario p{
    margin-top: 0%;
    margin-bottom: 20px;
    text-align: center;
    font-family: var(--fonte-paragrafo);
    font-size: 0.8em;
}
form{
    display: flex;
    flex-direction: column;
    columns: 2;
    align-items: center;
}
form input{
    width: 350px;
    height: 20px;
    margin: 2px 0 10px 0;
    background-color: var(--vinho-escuro);
    border: var(--vinho-claro);
    border-radius: 2px;
    font-family: var(--fonte-paragrafo);
    color: white;
    padding-left: 5px;
}
#contato__email, #contato__telefone{
    width: 165px;
    height: 20px;
    
}
.grupo__maior{
    display: flex;
    flex-direction: column;
}
.grupo__linha {
    display: flex;
    gap: 15px;
}

.grupo__linha div {
    display: flex;
    flex-direction: column; 
}
.grupo__linha label{
    margin-bottom: -1%;
}


form label{
    justify-content: left;
    margin-bottom: -0.5%;
    font-family: var(--fonte-titulo);
    font-size: 1.2em;
    color: var(--preto);
}

textarea{
    width: 350px;
    height: 80px;
    margin-top: 2px;
    background-color: var(--vinho-escuro);
    border: var(--vinho-claro);
    border-radius: 2px;
    font-family: var(--fonte-paragrafo);
    color: white;
    padding-top: 5px;
    padding-left: 5px;
    white-space: pre-line;
}

#bnt-enviar{
    margin-top: 10px;
    padding-left: 0;
    width: 180px;
    height: 40px;
    font-family: var(--fonte-titulo);
    font-weight: 200;
    font-size: 1.3em;
    border-radius: 2px;
}
#bnt-enviar:hover{
    background-color: var(--vinho);
    border: 2px solid var(--vinho-escuro);
    border-radius: 10px;
    color: var(--vinho-escuro);
    transition: 0.4s;
}
#bnt-enviar:active{
    background-color: var(--vinho-claro);
    border: 4px solid var(--vinho-escuro);
    border-radius: 10px;
    color: white;
    transition: 0.2s;
}

footer > p{
    margin: 5px 5px 5px 5px;
    text-align: center;
    font-family: var(--fonte-paragrafo);
    font-size: 0.8em;
}