@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');



:root{
    /*Cores*/

    --preto:#0B0B0B;
    --vinho-escuro: #0F080A;
    --vinho:#A4062E;
    --Vinho-escuro:#540318;
    

    /*Fontes*/

    --fonte-titulo: 'Staatliches','San-Serif';
    --fonte-paragrafo: 'Quicksand','San-Serif';

}

*{
    margin: 0;
    padding: 0;
}

body{
    background-color: var(--preto);
    color: white;
}

header{
    
    display: flex;
    gap: 50%;
    padding: 8px;
    border-bottom: 2px solid var(--vinho);
}
header > h1{
    font-family: var(--fonte-titulo);
    font-weight: 200;
    font-size: 1.50em;
}
strong{
    color: var(--vinho);
    font-family: var(--fonte-titulo);
    font-weight: 200;
}

#menu > a{
    
    padding: 10px;
    color: white;
    text-decoration: none;
    font-family: var(--fonte-paragrafo);
    font-size: 1em;
}
#menu > a:hover{
    color: var(--vinho);
    text-decoration: underline;
    transition: 0.2s;
}

/*Principal*/
main{
    display: flex;
    flex-direction: column;
    
}
section{
    margin: 20% 10% 20% 10%;    
  display: flex;
  flex-direction: column;
  columns: 2;
}
section > h2{
    font-size: 3em;
    font-family: var(--fonte-titulo);
    font-weight: 200;
}
section > h1{
    font-size: 3.5em;
    color: var(--vinho);
    font-family: var(--fonte-titulo);
    font-weight: 200;
}

.apresentacao__link{
    display: flex;
    gap: 5%;
    margin: 2% 0 2% 0;
}

.apresentacao__curriculo{
    margin: 1%;
    padding: 10px;
    border: 2px solid var(--vinho);
    border-radius: 5px;
    text-decoration: none;
    font-family: var(--fonte-paragrafo);
    font-weight: bold;
    font-size: 1.25em;
    color: var(--vinho);
}
.apresentacao__curriculo:hover{
    background-color: var(--vinho);
    color: var(--preto);
    transition: 0.35s;
}

.redes-sociais{
    margin: 0 -3%;
    font-family: var(--fonte-paragrafo);
}

a > img{
    width: 10%;
    padding: 5px;
}

/*SKILL*/

.skill{
    background-color: var(--vinho-escuro);
    position: relative;
    width: 100%;
    margin: 0;
    padding: 45px 20px;
    border-bottom: 1px solid var(--vinho);
    border-top: 1px solid var(--vinho);
    text-align: center;
}

/*Bug Skill: parar de fazer a div se mexer*/

.skill h2{
    background-color: var(--vinho);
    border-radius: 5px;
    box-shadow: 0px 4px 7px 0px rgba(0, 0, 0, 0.226);;
    position: absolute;
    margin: 0;
    top: -20%;
    left: 40%;
    padding: 15px 50px;
    text-align: center;
    font-size: 2.5em;
    font-family: var(--fonte-titulo);
    letter-spacing: 10px;
    color: var(--vinho-escuro);

}
.skill img{
    width: 9%;
    margin: 4% 1%;
}
.skill img:hover{
    width: 10%;
    transition: 0.2s;
}
/*Atualização para Skill: Colocar um mini texto invisivel para aparecer quando o mouse estiver encima*/


/*PROJETOS*/

.projetos{
    margin: 5% 2%;
}

.projetos h2{
    margin-bottom: 10%;
}
.projetos__apresentacao{
    display: flex;
    gap: 2%;
}
.projetos__apresentacao div{
    background-color: var(--vinho-escuro);
    border: 2px dashed var(--vinho);
    padding: 20px;
    text-align: justify;
    font-family: var(--fonte-paragrafo);
}
.projetos__apresentacao  div > a{
    text-align: right;
    
}


/*CONTATO*/

.contato{
    margin: 20% 10% 20% 10%;
    display: flex;
}